<ng-template #actionInfo>
  <i nz-icon nz-tooltip nzTooltipTitle="See informations" (click)="seeInfo(result)" nzType="info-circle" nzTheme="outline"></i>
</ng-template>
<ng-template #actionShopping>
  <i nz-icon nz-tooltip nzTooltipTitle="Reserve now" nzType="carry-out" nzTheme="fill"></i>
</ng-template>
<ng-template #commenting>
  <i nz-icon nz-tooltip nzType="comment" (click)="comment(result.ad.adID)" nzTooltipTitle="Comment" nzTheme="outline"></i>
</ng-template>
<ng-template #rating>
  <i nz-icon nz-tooltip nzType="project" (click)="rate(result.ad.adID)" nzTooltipTitle="Rate ad" nzTheme="outline"></i>
</ng-template>
<ng-template #actionMessages>
  <i nz-icon nz-tooltip nzType="message" (click)="seeMessages(result)" nzTooltipTitle="See messages" nzTheme="outline"></i>
</ng-template>

<nz-card [nzActions]="[actionInfo, actionShopping, commenting, rating]" [nzHoverable]="true" *ngIf="page === 'search'">
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item nzTitle="Name of issuer">{{result.agent.agentName}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item style="margin-left: 20px;" nzTitle="Car details">{{result.car.carBrandName}}&nbsp;{{result.car.carModelName}}, {{result.car.carClassName}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item nzTitle="Location">{{result.agent.locations}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item style="margin-left: 20px;" nzTitle="Date issued">{{result.ad.formattedDate}}</nz-descriptions-item>
  </nz-descriptions>
</nz-card>
<br/>
<input *ngIf="commentFlag" nz-input placeholder="Comment" [(ngModel)]="commentModel" />
<br *ngIf="commentFlag" />
<br *ngIf="commentFlag" />
<button *ngIf="commentFlag" (click)="confirmComment(result.ad.adID)" nz-button nzType="primary">Confirm</button>
<br *ngIf="commentFlag" />
<br *ngIf="commentFlag" />
<nz-table *ngIf="commentFlag" #nzTable [nzData]="listOfData">
  <thead>
    <tr>
      <th nzCustomFilter>
          Customer
      </th>
      <th>
        Agent
      </th>
      <th>
          Comment
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ customerFullName(data.customerFirstName, data.customerLastName) }}</td>
      <td>{{ data.agentName }}</td>
      <td>{{ data.comment }}</td>
    </tr>
  </tbody>
</nz-table>


<nz-rate *ngIf="rateFlag" [(ngModel)]="rateModel" [nzTooltips]="tooltips"></nz-rate>
<button *ngIf="rateFlag" (click)="confirmRate(result.ad.adID)" style="margin-left: 25px;" nz-button nzType="primary">Confirm</button>


<nz-card [nzActions]="[actionInfo, commenting, rating, actionMessages]" [nzHoverable]="true" *ngIf="page === 'reservations'">
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item nzTitle="Name of issuer">{{result.agent.agentName}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item style="margin-left: 20px;" nzTitle="Car details">{{result.car.carBrandName}}&nbsp;{{result.car.carModelName}}, {{result.car.carClassName}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item nzTitle="Location">{{result.agent.locations}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal">
  <nz-descriptions-item style="margin-left: 20px;" nzTitle="Date issued">{{result.ad.formattedDate}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzLayout="horizontal" *ngIf="page === 'reservations'">
      <nz-descriptions-item style="margin-left: 20px;" nzTitle="Your reservation date">From {{result.dateFrom}} {{result.timeFrom}} - to {{result.dateTo}} {{result.timeTo}}</nz-descriptions-item>
  </nz-descriptions>
</nz-card>


