<div>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel()">
        <ng-template #modalTitle>
            Create new fuel type
        </ng-template>

        <ng-template #modalContent>
          <form nz-form [formGroup]="validateForm" class="form">
            <nz-form-item>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="name" formControlName="name" placeholder="Name"/>
              </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="country" formControlName="country" placeholder="Country" />
                </nz-form-control>
            </nz-form-item>
          </form>
        </ng-template>

        <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
            <button (click)="submitForm()" *ngIf="isUpdate" nz-button nzType="primary" [disabled]="!validateForm.valid || !isValid">Update</button>
            <button (click)="submitForm()" *ngIf="!isUpdate" nz-button nzType="primary" [disabled]="!validateForm.valid || !isValid">Create</button>
        </ng-template>
    </nz-modal>
    
</div>
