<div style="background: transparent;padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8" *ngFor="let cart of cartContent">
      <nz-card nzHoverable style="width:200px" [nzCover]="coverTemplate"
      style="border: 1px solid white; background: rgba(255, 255, 255, 0.4); border-radius: 10px;  padding: 2px;">
        <h4> {{ cart.car.brand }} {{ cart.car.model }} </h4>
        <br>
        <h6> <u>Fuel Type:</u> <i><b> {{ cart.car.fuelType }} {{ cart.car.gas  === true ? "with gas" : "without gas"}}</b></i></h6>
        <h6> <u>Tank Capacity:</u> <i><b> {{ cart.car.tankCapacity }} </b></i> </h6>
        <h6> <u>Gearshift Type:</u><i><b> {{ cart.car.gearshiftType }} </b></i> </h6>
        <h6> <u>No. Of Gears:</u> <i><b> {{ cart.car.gearshiftNumberOfGears }} </b></i> </h6>
        <h6> <u>Pick Up Address:</u> <i><b> {{ cart.agent.locations }} </b></i> </h6>
        <br>
        <br>
        <nz-range-picker
          [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm"
          [nzPlaceHolder]="['Start Time', 'End Time']"
          ngModel
          (ngModelChange)="onChangeDate($event, cart.ad.id)"
          [nzDisabledDate]="disabledDate"
        ></nz-range-picker>
        <br>
        <br>
      </nz-card>
      <ng-template #coverTemplate>
          <div *ngIf=cart.ad.photos[0]>
            <img [src]="cart.ad.photos[0]"
              height="350px"
              width="300px">
          </div>
      </ng-template>
    </div>
    <button nz-button nzType="primary" [nzSize]="size" (click)="sendRequest()"><i nz-icon nzType="check" nzTheme="outline"></i> {{ cartContent.length > 1 ? "Send Requests" : "Send Request" }} </button>
  </div>
</div>
