<div>
  <nz-layout>
    <nz-header>
      <div class="logo">
        <label style="color: white; font-style: oblique; font-size: large;">
            Welcome!
        </label>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li *ngIf="isSimpleUser" nz-menu-item style="float: left;">
          <img
            src="https://image.flaticon.com/icons/svg/2897/2897951.svg"
            width="32"
            height="32"
            alt="Cart"
            title="Shopping Cart"
            (click)="showCart()">
        </li>
        <li *ngIf="isAdmin"
          nz-menu-item style="float: left;"
          (click)="adminRoleList()">Role List</li>
        <li nz-menu-item *ngIf="isAdmin" (click)="registrationRequests()">Registration requests</li>
        <li nz-menu-item *ngIf="isAdmin" (click)="commentRequests()">Comment requests</li>
        <li nz-menu-item (click)="logout()" style="float: right;">Log out</li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
          <li *ngIf="isAdmin" nz-submenu>
            <span title>Lists</span>
            <ul>
              <li (click)="carBrands()" nz-menu-item>Brands</li>
              <li (click)="carClasses()" nz-menu-item>Classes</li>
              <li (click)="carModels()" nz-menu-item>Models</li>
              <li (click)="gearshiftTypes()" nz-menu-item>Gearshift types</li>
              <li (click)="fuelTypes()" nz-menu-item>Fuel types</li>
            </ul>
          </li>
          <!-- <li *ngIf="isAgent" nz-menu-item>Ads which need report</li> -->
          <li *ngIf="isAdmin" nz-submenu>
            <span title>Create</span>
            <ul>
              <li (click)="createCarBrand()" nz-menu-item>Brand</li>
              <li (click)="createCarClass()" nz-menu-item>Class</li>
              <li (click)="createCarModel()" nz-menu-item>Model</li>
              <li (click)="createGearshiftType()" nz-menu-item>Gearshift type</li>
              <li (click)="createFuelType()" nz-menu-item>Fuel type</li>
            </ul>
          </li>
          <li *ngIf="!isAdmin" nz-submenu>
            <span title>Search</span>
            <ul>
              <li (click)="search()" nz-menu-item>Regular search</li>
              <li nz-menu-item>Advanced search</li>
            </ul>
          </li>
          <li *ngIf="isSimpleUser" (click)="reservations()" nz-menu-item>Reservations</li>
          <li *ngIf="isAgent" nz-submenu>
            <span title>Ad</span>
            <ul>
              <li (click)="createAd()" nz-menu-item>Create</li>
              <li (click)="changeAvailability()" nz-menu-item>Agent ads</li>
            </ul>
          </li>
          <li *ngIf="isSimpleUser" (click)="simpleUserCreateAd()" nz-menu-item>Create Ad</li>
          <li *ngIf="isAgent" (click)="agentRequests()" nz-menu-item>Requests</li>
          <li *ngIf="isSimpleUser" (click)="simpleUserRequests()" nz-menu-item>Requests</li>
          <li *ngIf="!isAdmin" (click)=inbox() nz-menu-item>Inbox</li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-content>
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
 </nz-layout>
</div>
