<nz-table #nzTable [nzData]="listOfData">
  <thead>
    <tr>
      <th nzCustomFilter>
          Email
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.username }}</td>
      <td>
          <button (click)="confirm(data.id)" nz-button nzType="primary">Approve</button>
        </td>
        <td>
          <button (click)="deny(data.id)" nz-button nzType="danger">Deny</button>
        </td>
    </tr>
  </tbody>
</nz-table>